.link {
    
    float: right;
    color: #000000;
    padding: 8px 16px;
    font-size: 30px;
    text-decoration: none;

}
#link {
    color: #000000;
    padding: 8px 16px;
    font-size: 30px;
}
#link:hover {
    background-color: grey;
    
}
section {
    float: left;
}
.doe {
    margin-left: 15px;
}