<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Cars</h1>
    <table>
        
        <thead>
            <th>model</th>
            <th>marka</th>
            <th>rang</th>
            <th>narxi</th>
        </thead>
        <tbody>
            {% for user in content %}
            <tr>
            <td>{{user.model}}</td>
            <td>{{user.marka}}</td>
            <td>{{user.rang}}</td>
            <td>{{user.narxi}}</td>
            {% endfor %}
            </tr>
        </tbody>

    </table>
</body>
</html>